.Overview {
    background-color: white;
    padding-left: 4vw;
}

.Overview-tiltle {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 1.4vw;
    padding-top: 2vw;
    color: #343C6A;
}

.dash-courb {
    display: flex;
    margin-top: 1.5vw;
}

.courb {
    height: 14vw;
    width: 41vw;
    border-radius: 2vw;
    border: 0.2vw solid #ECECEC;
}

.courb-notification {
    height: 14vw;
    width: 22vw;
    background-color: #6598EC;
    margin-left: 1vw;
    border-radius: 2vw;
}

.Recent {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 1.4vw;
    color: #343C6A;
    margin-top: 2vw;
}

.Rcenct-players {
    border-bottom: 0.2vw solid #EBEEF2;
    width: 64.3vw;
    height: 2vw;
    margin-bottom: 2.5vw;
}

.Rcenct-players h2 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 1vw;
    color: #2673F3;
    margin-left: 1vw;
}

.line-blue {
    position: relative;
    bottom: 0.2vw;
    height: 0.5vw;
    width: 11.6vw;
    border-top: 0.3vw solid #2673F3;
    border-radius: 1vw;
}

/* Ajoutez ces styles dans votre fichier Overview.css */

ul li {
    position: relative;
    /* Ajoute une position relative pour positionner l'icône */
}

.player-image {
    border-radius: 1vw;
    width: 3.7vw;
    height: 3.6vw;
    margin-left: 0.5vw;
}

.menu-icon {
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #3498db;
    font-size: 2vw;
}

.menu-options {
    display: none;
    position: absolute;
    z-index: 100;
    top: 3.4vw;
    right: 2.5vw;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0.8vw;
    width: 5.5vw;
    height: 4vw;
    padding-left: 0.5vw;
    padding-top: 1vw;

}

.menu-options svg {
    margin-right: 0.7vw;
}

.menu-options button {
    font-size: 0.9vw;
    border: 0;
    background-color: white;
    margin-top: 0.6vw;
    margin-left: 0;
    padding: 0;
}

.menu-options button :hover{
    color: #2673F3;
}

.link-edit {
    font-size: 0.9vw;
    border: 0;
    background-color: white;
}

.menu-options.show {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 10px;
    /* Ajoute un espace (marge) entre chaque joueur */
    padding: 10px;
    width: 62.8vw;
    height: 3.5vw;
    border-radius: 1vw;
    display: flex;
    /* Ajoute un remplissage à chaque joueur */
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

ul li a:hover {
    color: #3498db;
}

.player-name {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.3vw;
}

.name-player {
    margin-left: 1.3vw;
}

.name-player h5 {
    margin-top: 0;
    color: #718EBF;
}

.player-category {
    position: absolute;
    left: 23vw;
}

.player-category h2 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.3vw;
}

.player-category h5 {
    margin-top: 0;
    color: #718EBF;
}

.player-Details {
    position: absolute;
    right: 7vw;
    margin-top: 0.7vw;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    font-size: 0.7vw;
    height: 2.1vw;
    width: 9vw;
    color: #718EBF;
    border: 0.1vw solid #718EBF;
    border-radius: 2vw;
    background-color: white;
}

.player-list hr {
    border: none;
    border-top: 0.01vw solid #e0edf6;
    margin: 10px 0;
    width: 64vw;
    margin-top: 1.7vw;
    margin-bottom: 1.7vw;

}